In [ ]:
import pandas as pd

In [ ]:
import re

In [ ]:
import numpy as np

In [ ]:
timesData = pd.read_csv("dataframe/timesData.csv")
timesData.head()

In [ ]:
shanghaiData = pd.read_csv("dataframe/shanghaiData.csv")
shanghaiData.head()

In [ ]:
school_and_country = pd.read_csv("dataframe/school_and_country_table.csv")
school_and_country.head()

In [ ]:
cwurData = pd.read_csv("dataframe/cwurData.csv")
cwurData.head()

In [ ]:
educational_attainment = pd.read_csv("dataframe/educational_attainment_supplementary_data.csv")
educational_attainment.head()

In [ ]:
education_expenditure = pd.read_csv("dataframe/education_expenditure_supplementary_data.csv",engine='python')
education_expenditure.head()

For each university, extract from the times dataset the most recent and the least recent data, obtaining two separate dataframe

In [ ]:
most_recent_data=timesData.loc[(timesData.groupby('university_name')['year'].idxmax())]
most_recent_data.head()

In [ ]:
least_recent_data=timesData.loc[(timesData.groupby('university_name')['year'].idxmin())]
least_recent_data.head()

In [ ]:
timesData[timesData.groupby('university_name')[timesData['year']>=timesData['year'].max()]]

In [ ]:
timesData[timesData['university_name']=='Aalto University']

In [ ]:
#timesData.groupby('university_name').min()['year']

In [ ]:
#timesData.groupby('university_name').max()['year']

In [ ]:
punto2=pd.merge(most_recent_data, least_recent_data, on='university_name')
punto2.head()

In [ ]:
punto2.columns

In [ ]:
punto2[punto2['income_y']-punto2['income_x']]

In [ ]:
punto2[['income_x','income_y']].notnull()

In [ ]:
nuovo_punto2=punto2[punto2[['income_x','income_y']].notnull()]
nuovo_punto2.head()

In [ ]:
def calcola_perc(riga):
    return riga['income_x'] - riga['income_y']

In [ ]:
nuovo_punto2['income_improvement']=nuovo_punto2.apply(calcola_perc, axis=1)
nuovo_punto2.head()

In [ ]:
nuovo_punto2['differenza']=nuovo_punto2['income_x']-nuovo_punto2['income_y']
nuovo_punto2

In [ ]:
nuovo_punto2[nuovo_punto2['income_y']-nuovo_punto2['income_x']]

In [ ]:
type('income_x')

In [ ]:
list=nuovo_punto2['income_x']
list

In [ ]:
nuovo=list.astype(float)
nuovo

In [ ]:
def calcola_perc(riga):
    return riga['votes_first_vote']/ risultato[riga['state']] *100

In [ ]:
nuovo_punto2['income_y']=nuovo_punto2['income_y'].to_numeric()

In [ ]:
nuovo_punto2=np.array(list, dtype=float)

In [ ]:
punto2['income_x']=pd.to_numeric(punto2['income_x'], errors='coerce')
punto2.head()

In [ ]:
punto2['income_y']=pd.to_numeric(punto2['income_y'], errors='coerce') #le cose invalide le setta come NaN
punto2.head()

In [ ]:
punto2['income_improvement']=punto2['income_x']-punto2['income_y']
punto2.head()

In [ ]:
punto2.loc[punto2['income_improvement']>= punto2['income_improvement'].max()]['university_name'] #possiamo anche togliere l'ultima quadra

In [ ]:
cwurData[cwurData['institution']=='Aarhus University']

In [ ]:
shanghaiData[shanghaiData['university_name']=='Aarhus University']

In [ ]:
most_recent_data.head()

In [ ]:
most_recent_data['year']

In [ ]:
most_recent_datab

In [ ]:
rapporto=most_recent_data['female_male_ratio']
rapporto.head()

In [ ]:
dataframe=pd.DataFrame(rapporto)
dataframe.head()

In [ ]:
most_recent_data['female'] =most_recent_data['female_male_ratio'].str.extract(r'(^\d+)')
most_recent_data['male'] = most_recent_data['female_male_ratio'].str.extract(r'(\d+$)')
most_recent_data.head()

In [ ]:
most_recent_data['female']=pd.to_numeric(most_recent_data['female'], errors='coerce') #le cose invalide le setta come NaN
most_recent_data['male']=pd.to_numeric(most_recent_data['male'], errors='coerce') #le cose invalide le setta come NaN
most_recent_data['num_students']=pd.to_numeric(most_recent_data['num_students'], errors='coerce') #le cose invalide le setta come NaN

In [ ]:
most_recent_data['female'].dtype

In [ ]:
most_recent_data['num_students'].dtype

In [ ]:
def calc_studenti(serie):
    return serie * most_recent_data['num_students'] /100

In [ ]:
most_recent_data['num_femmine'] =most_recent_data.apply(calc_studenti, most_recent_data['female'])
most_recent_data.head()

In [ ]:
def calc_studenti_fem(riga):
    return most_recent_data['num_students'] * most_recent_data['female'] /100

In [ ]:
most_recent_data['num_fem']=most_recent_data.apply(calc_studenti_fem, axis=1)