***Anno Accademico 2020/21 Foundations of Computer Science***

*Alice Calvi 818100*

*Salma Chabib 872519*

*Alessandra Maggipinto 872562*

*Abbiamo importato le librerie*

In [ ]:
import pandas as pd
import re
import numpy as np

*Facciamo read csv di tutti i dataframe*

In [ ]:
timesData = pd.read_csv("dataframe/timesData.csv")
timesData ['year'] = pd.to_datetime(timesData['year'], format = '%Y')
timesData.head()

In [ ]:
timesData.replace(to_replace = '-', value = np.nan, inplace = True)
timesData.head()

In [ ]:
shanghaiData = pd.read_csv("dataframe/shanghaiData.csv")
shanghaiData ['year'] = pd.to_datetime(shanghaiData['year'], format = '%Y')
shanghaiData.head()

*modifichiamo il nome delle università in modo da averle nello stesso formato nel dataframe shanghaiData*

In [ ]:
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('Aix Marseille University', 'Aix-Marseille University', regex =True)
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('Arizona State University - Tempe', 'Arizona State University', regex =True)
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('Ecole Normale Superieure - Lyon','Ecole Normale Superieure de Lyon', regex= True)
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('Scuola Normale Superiore - Pisa','Scuola Normale Superiore di Pisa', regex= True)
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('Queen Mary, U. of London','Queen Mary, University of London', regex= True)
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('Royal Holloway, U. of London','Royal Holloway, University of London', regex= True)
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('Texas A & M University','Texas A&M University', regex= True)

#per togliere gli acronimi nelle parentesi
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('\s+\(\w+\-*\w*\s*\d*\)','', regex=True)

#per togliere il nome del campus dopo le università
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('\s+\-+\s+\w+\s*\d*\w*','', regex=True)

#togliere il THE davanti alle università
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('^The','', regex=True)
shanghaiData['university_name'] = shanghaiData['university_name'].str.replace('^\s','', regex=True)

#controllo = shanghaiData.iloc[(shanghaiData.groupby('university_name')['year'].idxmax())].copy()
#controllo['university_name'] = controllo['university_name'].unique()
#università_s = controllo['university_name'].to_list()
#università_s
#school_and_country['school_name'] = school_and_country['school_name'].unique()
#università_giuste= school_and_country['school_name'].to_list()

In [ ]:
school_and_country = pd.read_csv("dataframe/school_and_country_table.csv")
school_and_country.head()

In [ ]:
cwurData = pd.read_csv("dataframe/cwurData.csv")
cwurData ['year'] = pd.to_datetime(cwurData['year'], format = '%Y')
cwurData.head()

*modifichiamo il nome delle università in modo da averle nello stesso formato nel dataframe cwurData*

In [ ]:
#per togliere il nome del campus dopo le università
cwurData['institution'] = cwurData['institution'].str.replace('\s+\-+\s+\w+\s*\d*\w*','', regex=True)

#per togliere gli acronimi nelle parentesi
cwurData['institution'] = cwurData['institution'].str.replace('\s+\(\w+\-*\w*\s*\d*\)','', regex=True)

#con acronimo anche in school_and_country
cwurData['institution'] = cwurData['institution'].str.replace('Korea Advanced Institute of Science and Technology','Korea Advanced Institute of Science and Technology (KAIST)', regex=True)

#cwur_controllo = cwurData.iloc[(cwurData.groupby('institution')['year'].idxmax())]
#university = cwur_controllo['institution'].to_list()
#school_and_country['school_name'] = school_and_country['school_name'].unique()
#università= school_and_country['school_name'].to_list()

In [ ]:
educational_attainment = pd.read_csv("dataframe/educational_attainment_supplementary_data.csv")
educational_attainment.head()

In [ ]:
education_expenditure = pd.read_csv("dataframe/education_expenditure_supplementary_data.csv",engine='python')
education_expenditure.head()

In [ ]:
timesData.info() #per controllare il tipo delle variabili

In [ ]:
timesData['income']= pd.to_numeric(timesData['income'], errors='coerce') #da object me lo trasforma in float64

In [ ]:
timesData.info()

### 1. For each university, extract from the times dataset the most recent and the least recent data, obtaining two separate dataframe

*A partire dal dataframe 'Times', raggruppiamo per 'university_name', estraiamo l'anno e prendiamo il massimo ovvero quello più recente in più abbiamo settato come indice il nome delle università*

In [ ]:
most_recent_data=timesData.iloc[(timesData.groupby('university_name')['year'].idxmax())]
most_recent_data.set_index('university_name', inplace = True) 
most_recent_data.head()

In [ ]:
#controllo se i nomi delle università sono scritti bene
#most_recent_data['university_name'] = most_recent_data['university_name'].unique()
#università_times = most_recent_data['university_name'].to_list()
#school_and_country['school_name'] = school_and_country['school_name'].unique()
#università= school_and_country['school_name'].to_list()
#len(università_times)

In [ ]:
#c = 0
#for nome in università_times:
    #for university in università:
        #if nome == university:
           # c+=1
#c

*A partire dal dataframe 'Times', raggruppiamo per 'university_name', estraiamo l'anno e prendiamo il minimo ovvero quello meno recente in più abbiamo settato come indice il nome delle università*

In [ ]:
least_recent_data=timesData.iloc[(timesData.groupby('university_name')['year'].idxmin())]
least_recent_data.set_index('university_name', inplace = True) 
least_recent_data.head()

### 2. For each university, compute the improvement in "income" between the least recent and the most recent data points

*Facciamo il merge delle 2 tabelle precedentemente ottenute usando 'university_name'*

In [ ]:
punto2=pd.merge(most_recent_data, least_recent_data, on='university_name')
punto2.head()

In [ ]:
punto2.columns

*Rinominiamo le colonne di interesse*

In [ ]:
punto2=punto2.rename(columns={'income_x':'income_most_recent','income_y':'income_least_recent'})
punto2.head()

*Calcolo dell'income improvement*

In [ ]:
punto2['income_improvement']=punto2['income_most_recent']-punto2['income_least_recent']
punto2.head()

In [ ]:
punto2['income_improvement']

### 3. Find the university with the largest increase computed in the previous point

*Prendiamo l'università con income improvement più elevato*

In [ ]:
#punto2.loc[punto2['income_improvement']>= punto2['income_improvement'].max()] 
punto2['income_improvement'].loc[punto2['income_improvement']>= punto2['income_improvement'].max()]

### 4. For each ranking, consider only the most recent data point. For each university, compute the maximum difference between the rankings (e.g. for Aarhus University the value is 122-73=49). Notice that some rankings are expressed as a range

*Per 'ShanghaiData' e 'CwurData' abbiamo raggruppato per il nome delle università e poi abbiamo estratto le righe con l'anno più recente*

In [ ]:
most_recent_s=shanghaiData.iloc[(shanghaiData.groupby('university_name')['year'].idxmax())].copy()
most_recent_c=cwurData.iloc[(cwurData.groupby('institution')['year'].idxmax())].copy()
most_recent_t=timesData.iloc[(timesData.groupby('university_name')['year'].idxmax())].copy()

In [ ]:
lista_t = most_recent_t['world_rank']
df_t =pd.DataFrame(lista_t)

# Abbiamo "spezzato" il range in modo da avere i due valori separati usando le espressioni regolari
df_t['min_range'] = df_t['world_rank'].str.extract(r'^\=?(\d+)')
df_t['max_range'] = df_t['world_rank'].str.extract(r'(\d+$)')

df_t[['min_range','max_range']]=df_t[['min_range','max_range']].astype(float)

most_recent_t['world_rank_t'] = (df_t['max_range'] + df_t['min_range'])//2
most_recent_t.head()

In [ ]:
#rifacciamo per shanghai
lista_s = most_recent_s['world_rank']
df_s =pd.DataFrame(lista_s)

df_s['min_range'] = df_s['world_rank'].str.extract(r'^\=?(\d+)')
df_s['max_range'] = df_s['world_rank'].str.extract(r'(\d+$)')

df_s[['min_range','max_range']]=df_s[['min_range','max_range']].astype(float)


most_recent_s['world_rank_s'] = (df_s['max_range'] + df_s['min_range'])//2
most_recent_s.head()

In [ ]:
most_recent_c.info()

In [ ]:
most_recent_c.rename(columns={'world_rank':'world_rank_c'}, inplace=True)
most_recent_c.head()

In [ ]:
primo_merge = pd.merge(most_recent_t, most_recent_s, on='university_name', how='left' , suffixes = ('_times','_shanghai'))
primo_merge

In [ ]:
secondo_merge = pd.merge(primo_merge, most_recent_c, left_on= 'university_name', right_on = 'institution', how='left')
secondo_merge

In [ ]:
secondo_merge.columns

In [ ]:
secondo_merge.rename(columns={'year':'year_cwur'}, inplace=True)
secondo_merge.head()

In [ ]:
#trovo il world rank massimo e minimo tra i 3 rankings
secondo_merge['HighScore'] = secondo_merge[['world_rank_t','world_rank_c','world_rank_s']].max(axis = 1)
secondo_merge['LowScore'] = secondo_merge[['world_rank_t','world_rank_c','world_rank_s']].min(axis = 1)

#calcolo
secondo_merge['maximum_difference'] = secondo_merge['HighScore']-secondo_merge['LowScore']
secondo_merge[['university_name','maximum_difference','HighScore','LowScore','world_rank_t','world_rank_c','world_rank_s']]

### 5. Consider only the most recent data point of the times dataset. Compute the number of male and female students for each country.

In [ ]:
most_recent_t.info()

*Estraiamo le proporzioni per female e male usando le espressioni regolari, prima però eliminiamo i valori nulli*

In [ ]:
most_recent_t.dropna(subset=['num_students'], axis=0, inplace=True)
most_recent_t.dropna(subset=['female_male_ratio'], axis=0, inplace=True)

In [ ]:
most_recent_t['female'] = most_recent_t['female_male_ratio'].str.extract(r'(^\d+)')
most_recent_t['male'] = most_recent_t['female_male_ratio'].str.extract(r'(\d+$)')
most_recent_t.head()

In [ ]:
most_recent_t.info() #notiamo che female e male sono di tipo 'object'

In [ ]:
most_recent_t[['male','female']]=most_recent_t[['male','female']].astype(float)

In [ ]:
most_recent_t.info() #ora notiamo che female e male sono di tipo 'float64' (anche num_students che verrà castato di seguito)

*Abbiamo tolto la virgola delle migliaia*

In [ ]:
most_recent_t['num_students'] = most_recent_t['num_students'].str.replace(',','')
most_recent_t['num_students']=most_recent_t['num_students'].astype(float)
most_recent_t.head()

*Abbiamo calcolato il numero di femmine e maschi per università usando la proporzione*

In [ ]:
most_recent_t['num_male']= most_recent_t['male'] * most_recent_t['num_students'] // 100
most_recent_t['num_fem']= most_recent_t['female'] * most_recent_t['num_students'] // 100
num_Donne_Uomini=most_recent_t.groupby('country')[['num_fem','num_male']].sum()
num_Donne_Uomini

### 6. Find the universities where the ratio between female and male is below the average ratio (computed over all universities)

*Calcoliamo totale di maschi e femmine in tutto il dataframe*

In [ ]:
total_females = most_recent_t['num_fem'].sum()
total_males= most_recent_t['num_male'].sum()

*calcolo dell' average ratio*

In [ ]:
avg_ratio= (total_females/total_males)  
avg_ratio

*Abbiamo calcolato il rapporto per ogni riga del dataframe*

In [ ]:
most_recent_t['ratio']=most_recent_t['num_fem']/most_recent_t['num_male'] #rapporto per ogni riga
most_recent_t.head()

*Confrontiamo e prendiamo quelli con rapporto minore della media*

In [ ]:
punto6 = most_recent_t.loc[most_recent_t['ratio'] < avg_ratio]
punto6.head()

*Estraiamo solo i nomi delle università che soddisfano il punto 6*

In [ ]:
punto6[['university_name','ratio']]

### 7. For each country, compute the fraction of the students in the country that are in one of the universities computed in the previous point (that is, the denominator of the ratio is the total number of students over all universities in the country).

*Estraiamo dal dataframe precedente le colonne di interesse*

In [ ]:
punto7 = punto6[['university_name','country','num_students', 'female_male_ratio', 'year', 'male','female', 'num_male', 'num_fem', 'ratio']]
punto7

*Raggruppiamo per nazione e facciamo la somma del numero di studenti in quella determinata nazione, infine estraiamo anche 'country' in modo da creare un dataframe*

In [ ]:
number_students_per_country = punto7.groupby('country')[['num_students', 'country']].sum()
number_students_per_country.reset_index(inplace=True)
number_students_per_country

*Numero di studenti per università*

In [ ]:
punto_7_numerat = punto7[['university_name', 'country', 'num_students']] 
punto_7_numerat

In [ ]:
tab_merge = pd.merge(punto_7_numerat, number_students_per_country, on = 'country', how='left', suffixes= ('_university','_country')) 
tab_merge.head()

*Calcoliamo la frazione*

In [ ]:
tab_merge['fraction_of_students'] = tab_merge['num_students_university']/tab_merge['num_students_country']
tab_merge

### 8. Read the file educational_attainment_supplementary_data.csv, discarding any row with missing country_name or series_name

In [ ]:
educational_attainment = pd.read_csv("dataframe/educational_attainment_supplementary_data.csv")
educational_attainment.head()

*Abbiamo creato un nuovo dataframe tenendo solo le righe per cui country_name e series_name non risultano nulli*

In [ ]:
educ = educational_attainment[(educational_attainment['country_name'].notnull()) & (educational_attainment['series_name'].notnull())]
educ.head()

### 9. From attainment build a dataframe with the same data, but with 4 columns: country_name, series_name, year, value

In [ ]:
pd.melt?

In [ ]:
educ.columns[2:]

In [ ]:
pd.melt(educ, id_vars=['country_name','series_name'], value_vars=['1985', '1986', '1987', '1990', '1991', '1992', '1993', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2015'])

### 10. For each university, find the number of rankings in which they appear (it suffices to appear in one year for each ranking).

*Facciamo il merge di times cwur e shanghai e prendiamo solo le colonne di interesse*

In [ ]:
tabella_merge=pd.merge(timesData,cwurData,how='left', left_on='university_name', right_on='institution')
tabella_merge=pd.merge(tabella_merge,shanghaiData,how='left', on='university_name')
tabella_merge=tabella_merge.rename(columns={'world_rank':'world_rank_times','world_rank_x':'world_rank_cwur','world_rank_y':'world_rank_shanghai' })
tabella_merge=tabella_merge[['university_name','world_rank_times','world_rank_cwur','world_rank_shanghai']]
#rinominiamo
tabella_merge['world_rank_shanghai']=tabella_merge['world_rank_shanghai'].replace(np.nan, 'Dato mancante')
tabella_merge['world_rank_times']=tabella_merge['world_rank_times'].replace(np.nan, 'Dato mancante')
tabella_merge['world_rank_cwur']=tabella_merge['world_rank_cwur'].replace(np.nan, 'Dato mancante')

In [ ]:
#definizione della funzione counter che mi conta quante volte il dato non è mancante
def counter(col1,col2,col3):
    count=0
    if (col1!='Dato mancante'):
        count+=1
    if (col2!='Dato mancante'):
        count+=1
    if (col3!='Dato mancante'):
        count+=1

    return count

In [ ]:
#applicchiamo counter
tabella_merge['counter']=tabella_merge.apply(lambda x:counter(x.world_rank_times,x.world_rank_cwur,x.world_rank_shanghai), axis=1)
tabella_merge.drop_duplicates(subset=['university_name','counter'],keep='first')

### 11. In the times ranking, compute the number of times each university appears

*Raggruppiamo per university_name, estraiamo world_rank e contiamo*

In [ ]:
punto11 = timesData.groupby('university_name', as_index = False)['world_rank'].count()
punto11

### 12. Find the universities that appear at most twice in the times ranking.

In [ ]:
punto12 = punto11[punto11['world_rank']<= 2]
punto12

### 13. The universities that, in any year, have the same position in all three rankings (they must have the same position in a year).

*Facciamo il merge dei 3 dataframes*

In [ ]:
punto13 = pd.merge(timesData, cwurData, left_on=['university_name','year'], right_on = ['institution','year'])
punto13= pd.merge(punto13, shanghaiData, on= ['university_name', 'year'])
punto13= punto13.rename(columns= {'world_rank_x':'world_rank_times','world_rank_y': 'world_rank_cwur','world_rank' : 'world_rank_shanghai'})

*Estraiamo le colonne di interesse*

In [ ]:
punto13= punto13[['university_name','year','world_rank_times','world_rank_cwur','world_rank_shanghai']]
punto13.head()

In [ ]:
punto13.info()

*Prendiamo solo le università per cui il world rank in Times è uguale al world rank in Shanghai*

In [ ]:
punto13 = punto13.loc[(punto13['world_rank_times'] == punto13['world_rank_shanghai'])]
punto13

*Controlliamo se world rank in Times è uguale a wolrd rank in Cwur*

In [ ]:
punto13['world_rank_times']=punto13['world_rank_times'].astype(float)
punto13['world_rank_shanghai']=punto13['world_rank_shanghai'].astype(float)
punto13.loc[(punto13['world_rank_times'] == punto13['world_rank_cwur'])]