Abbiamo importato le librerie

In [ ]:
import pandas as pd
import re
import numpy as np

Facciamo read csv di tutti i dataframe

In [ ]:
timesData = pd.read_csv("dataframe/timesData.csv")
timesData.head()

In [ ]:
shanghaiData = pd.read_csv("dataframe/shanghaiData.csv")
shanghaiData.head()

In [ ]:
school_and_country = pd.read_csv("dataframe/school_and_country_table.csv")
school_and_country.head()

In [ ]:
cwurData = pd.read_csv("dataframe/cwurData.csv")
cwurData.head()

In [ ]:
educational_attainment = pd.read_csv("dataframe/educational_attainment_supplementary_data.csv")
educational_attainment.head()

In [ ]:
education_expenditure = pd.read_csv("dataframe/education_expenditure_supplementary_data.csv",engine='python')
education_expenditure.head()

In [ ]:
timesData.info()

In [ ]:
timesData['income']=pd.to_numeric(timesData['income'], errors='coerce')

1. For each university, extract from the times dataset the most recent and the least recent data, obtaining two separate dataframe

A partire dal dataframe 'Times', raggruppiamo per 'university_name', estraiamo l'anno e prendiamo il massimo ovvero quello più recente

In [ ]:
most_recent_data=timesData.loc[(timesData.groupby('university_name')['year'].idxmax())]
most_recent_data.head()

A partire dal dataframe 'Times', raggruppiamo per 'university_name', estraiamo l'anno e prendiamo il minimo ovvero quello meno recente

In [ ]:
least_recent_data=timesData.loc[(timesData.groupby('university_name')['year'].idxmin())]
least_recent_data.head()

2. For each university, compute the improvement in "income" between the least recent and the most recent data points

Facciamo il merge delle 2 tabelle precedentemente ottenute usando 'university_name'

In [ ]:
punto2=pd.merge(most_recent_data, least_recent_data, on='university_name')
punto2.head()

In [ ]:
punto2.columns

Rinominato le colonne di interesse

In [ ]:
punto2=punto2.rename(columns={'income_x':'income_most_recent','income_y':'income_least_recent'})
punto2.head()

Calcolo dell income improvement

In [ ]:
punto2['income_improvement']=punto2['income_most_recent']-punto2['income_least_recent']
punto2.head()

3. Find the university with the largest increase computed in the previous point

Prendiamo l università con income improvement più elevato

In [ ]:
punto2.loc[punto2['income_improvement']>= punto2['income_improvement'].max()]['university_name'] #possiamo anche togliere l'ultima quadra

4. For each ranking, consider only the most recent data point. For each university, compute the maximum difference between the rankings (e.g. for Aarhus University the value is 122-73=49). Notice that some rankings are expressed as a range

In [ ]:
most_recent_s=shanghaiData.loc[(shanghaiData.groupby('university_name')['year'].idxmax())]
most_recent_c=cwurData.loc[(cwurData.groupby('institution')['year'].idxmax())]
#most_recent_data

In [ ]:
most_recent_data['world_rank']

In [ ]:
lista = most_recent_data['world_rank']
df =pd.DataFrame(lista)
df.head()

In [ ]:
df['min_range'] = df['world_rank'].str.extract(r'^\=?(\d+)')
df['max_range'] = df['world_rank'].str.extract(r'(\d+$)')
df.head()

In [ ]:
df['min_range']=pd.to_numeric(df['min_range'], errors='coerce')
df['max_range']=pd.to_numeric(df['max_range'], errors='coerce')
df.info()

In [ ]:
most_recent_data['world_rank_t'] = (df['max_range'] + df['min_range'])//2
most_recent_data['world_rank_t'].head()

In [ ]:
#rifacciamo per s
lista_s = most_recent_s['world_rank']
df_s =pd.DataFrame(lista_s)
df_s['min_range'] = df_s['world_rank'].str.extract(r'^\=?(\d+)')
df_s['max_range'] = df_s['world_rank'].str.extract(r'(\d+$)')
df_s['min_range']=pd.to_numeric(df_s['min_range'], errors='coerce')
df_s['max_range']=pd.to_numeric(df_s['max_range'], errors='coerce')
most_recent_s['world_rank_s'] = (df_s['max_range'] + df_s['min_range'])//2
most_recent_s.head()

In [ ]:
most_recent_c.info()

In [ ]:
most_recent = pd.merge(most_recent_data, most_recent_s, on='university_name', how='left' )
most_recent

In [ ]:
most_recent1 = pd.merge(most_recent, most_recent_c, left_on= 'university_name', right_on = 'institution', how='left')
most_recent1

In [ ]:
most_recent1.columns

In [ ]:
most_recent1['HighScore'] = most_recent1[['world_rank_t','world_rank','world_rank_s']].max(axis = 1)
most_recent1['LowScore'] = most_recent1[['world_rank_t','world_rank','world_rank_s']].min(axis = 1)
most_recent1['maximum_difference'] = most_recent1['HighScore']-most_recent1['LowScore']
most_recent1[['university_name','maximum_difference','HighScore','LowScore','world_rank_t','world_rank','world_rank_s']]

5. Consider only the most recent data point of the times dataset. Compute the number of male and female students for each country.

In [ ]:
most_recent_data.info()

Estraiamo le proporzioni per female e male

In [ ]:
most_recent_data['female'] = most_recent_data['female_male_ratio'].str.extract(r'(^\d+)')
most_recent_data['male'] = most_recent_data['female_male_ratio'].str.extract(r'(\d+$)')
most_recent_data.head()

In [ ]:
most_recent_data.info() #notiamo che female e male sono di tipo 'object'

In [ ]:
most_recent_data['male']=pd.to_numeric(most_recent_data['male'], errors='coerce')
most_recent_data['female']=pd.to_numeric(most_recent_data['female'], errors='coerce')

In [ ]:
most_recent_data.info() #ora notiamo che female e male sono di tipo 'float64' (anche num_students che verrà castato di seguito)

Abbiamo tolto la virgola delle migliaia

In [ ]:
most_recent_data['num_students'] = most_recent_data['num_students'].str.replace(',','')
most_recent_data['num_students']=pd.to_numeric(most_recent_data['num_students'], errors='coerce')
most_recent_data.head()

In [ ]:
most_recent_data['num_male']= most_recent_data['male'] * most_recent_data['num_students'] // 100
most_recent_data['num_fem']= most_recent_data['female'] * most_recent_data['num_students'] // 100
most_recent_data.head()

6. Find the universities where the ratio between female and male is below the average ratio (computed over all universities)

Calcoliamo rapporto e successivamente la media

In [ ]:
most_recent_data['rapporto'] = most_recent_data['num_fem'] / most_recent_data['num_male']
media = most_recent_data['rapporto'].notnull().mean()
print(media)

Confrontiamo e prendiamo quelli con rapporto minore della media

In [ ]:
punto6 = most_recent_data.loc[most_recent_data['rapporto'] <= media]
punto6.head()

Estraiamo solo i nomi delle università che soddisfano il punto 6

In [ ]:
punto6['university_name']

7. For each country, compute the fraction of the students in the country that are in one of the universities computed in the previous point (that is, the denominator of the ratio is the total number of students over all universities in the country).

Calcolo del denominatore sommando tutti i num_students di ciascun Paese

In [ ]:
denominatore = most_recent_data.groupby('country', as_index = True)['num_students'].sum()
denominatore

Per il numeratore sommando tutti i num_students dei Paesi le cui relative università sono presento nel punto6

In [ ]:
numeratore=punto6.groupby('country')['num_students'].sum()
numeratore

Controllo che effettiviamente siano dei float64

In [ ]:
numeratore.dtype

In [ ]:
deno.dtype

In [ ]:
fraction=numeratore/denominatore
fraction.head

In [ ]:
#most_recent_data.loc[most_recent_data.groupby('country').sum()['num_students']]

8. Read the file educational_attainment_supplementary_data.csv, discarding any row with missing country_name or series_name

In [ ]:
educational_attainment = pd.read_csv("dataframe/educational_attainment_supplementary_data.csv")
educational_attainment.head()

In [ ]:
educ = educational_attainment[(educational_attainment['country_name'].notnull()) & (educational_attainment['series_name'].notnull())]
educ.head()

9. From attainment build a dataframe with the same data, but with 4 columns: country_name, series_name, year, value

Eliminare tutte le colonne con tutti valori nulli

In [ ]:
ed_pulito= educ.dropna(axis='columns', how='all')
ed_pulito.head()

In [ ]:
pd.melt?

In [ ]:
ed_pulito.columns[2:] #necessario per capire gli anni presenti nel dataframe

In [ ]:
pd.melt(ed_pulito, id_vars=['country_name','series_name'], value_vars=['1985', '1986', '1987', '1990', '1991', '1992', '1993', '1995', '1996',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013'])

10. For each university, find the number of rankings in which they appear (it suffices to appear in one year for each ranking).

In [ ]:
#facciamo il merge di times cwur e shanghai e prendiamo solo le colonne di interesse
tabella_merge=pd.merge(timesData,cwurData,how='left', left_on='university_name', right_on='institution')
tabella_merge=pd.merge(tabella_merge,shanghaiData,how='left', on='university_name')
tabella_merge=tabella_merge.rename(columns={'world_rank':'world_rank_times','world_rank_x':'world_rank_cwur','world_rank_y':'world_rank_shanghai' })
tabella_merge=tabella_merge[['university_name','world_rank_times','world_rank_cwur','world_rank_shanghai']]
#rinominiamo
tabella_merge['world_rank_shanghai']=tabella_merge['world_rank_shanghai'].replace(np.nan, 'Dato mancante')
tabella_merge['world_rank_times']=tabella_merge['world_rank_times'].replace(np.nan, 'Dato mancante')
tabella_merge['world_rank_cwur']=tabella_merge['world_rank_cwur'].replace(np.nan, 'Dato mancante')

In [ ]:
#definizione della funzione counter che mi conta quante volte il dato non è mancante
def counter(col1,col2,col3):
    count=0
    if (col1!='Dato mancante'):
        count+=1
    if (col2!='Dato mancante'):
        count+=1
    if (col3!='Dato mancante'):
        count+=1

    return count

In [ ]:
#applicchiamo counter
tabella_merge['counter']=tabella_merge.apply(lambda x:counter(x.world_rank_times,x.world_rank_cwur,x.world_rank_shanghai), axis=1)
tabella_merge.tail(60)

11. In the times ranking, compute the number of times each university appears

Raggruppiamo per university_name, estraiamo world_rank e contiamo

In [ ]:
punto11 = timesData.groupby('university_name', as_index = False)['world_rank'].count()
punto11

12. Find the universities that appear at most twice in the times ranking.

In [ ]:
punto12 = punto11[punto11['world_rank']<= 2]
punto12

13. The universities that, in any year, have the same position in all three rankings (they must have the same position in a year).

Facciamo il merge dei 3 dataframes

In [ ]:
punto13 = pd.merge(timesData, cwurData, left_on=['university_name','year'], right_on = ['institution','year'])
punto13= pd.merge(punto13, shanghaiData, on= ['university_name', 'year'])
punto13= punto13.rename(columns= {'world_rank_x':'world_rank_times','world_rank_y': 'world_rank_cwur','world_rank' : 'world_rank_shanghai'})

Estraiamo le colonne di interesse

In [ ]:
punto13= punto13[['university_name','year','world_rank_times','world_rank_cwur','world_rank_shanghai']]
punto13.head()

In [ ]:
punto13.info()

In [ ]:
punto13 = punto13.loc[(punto13['world_rank_times'] == punto13['world_rank_shanghai'])]
punto13

In [ ]:
punto13['world_rank_times']=pd.to_numeric(punto13['world_rank_times'], errors='coerce')
punto13['world_rank_shanghai']=pd.to_numeric(punto13['world_rank_shanghai'], errors='coerce')
punto13.loc[(punto13['world_rank_times'] == punto13['world_rank_cwur'])]